body {
    background-color: white
}

h1 {
    font-family: 'Orelega One', cursive;
}

h2 {
    font-family: 'Orelega One', cursive;
}

h3 {
    font-family: 'Orelega One', cursive;
}

h5 {
    font-family: 'Orelega One', cursive;
}

p {
    font-family: 'Oswald', sans-serif;
    color: #636363
}